@font-face {
  font-family: 'Booter - Five Five';
  src: url('./src/font/Esporte.otf') format('opentype');
}

.container {
  background-size: cover;
  background-position: center;
  color: #F7F5F3; 
  padding: 20px;
  margin: 20px;
}
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #description {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .message {
    color: yellow;
    margin-top: 20px;
  }

  .music-button {
    background-color: #ef710a;
    color: #F7F5F3;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .music-button:hover {
    background-color: #5B3920;
  }