.header-container {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: black;
  }
  
  .logo {
    margin-right: 20px; 
  }
  
  .header-list {
    list-style-type: none;
    padding: 5px;
    display: flex;
    margin-right: 10px;
  }
  
  .header-list li {
    margin-right: 20px;
    color: white; /* Cambiado a blanco */
    cursor: pointer;
  }
  
  .header-list li:hover {
    background-color: #333; /* Cambia el color de fondo en hover */
  }
  
  .header-list li a {
    color: white; /* Cambiado a blanco */
    text-decoration: none; /* Quitar el subrayado */
  }
  
  .header-list li a:hover {
    background-color: #333; /* Cambia el color de fondo en hover */
  }
  
  .header-list {
    margin-left: auto; 
  }
  
  .iconHeader {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .header-list li {
      font-size: 14px; /* Tama침o de fuente m치s peque침o para pantallas m칩viles */
    }
  }
  