.Footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  color: #F7F5F3;
  background-color: #1c1932; 
  border-top: 2px solid #3f2411; 
  position: fixed;
  justify-content: space-between; 
  align-items: center; 
  height: 30px;
}

.Footer p {
  font-size: 1.2rem;
  margin: 0;
}
